* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 900px;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
}

form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

form input, form button {
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
}

form button {
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #218838;
}

.search-and-filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#search {
    padding: 10px;
    font-size: 16px;
    flex-grow: 1;
    margin-right: 20px;
}

.filters label {
    margin-right: 20px;
    font-size: 16px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    background: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.completed {
    text-decoration: line-through;
    background-color: #d4edda;
}

.task-content {
    flex-grow: 1;
}

.task-actions button {
    margin-left: 10px;
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.task-actions button.edit {
    background-color: grey;
}

.task-actions button.completed {
    background-color: #28a745;
}

.task-actions button:hover {
    opacity: 0.8;
}
